KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="{{ idVendor }}", ATTRS{idProduct}=="{{ idProduct }}", TAG+="systemd", RUN{program}="/bin/systemctl start video4linux-webcam-config@$env{MINOR}.timer" ENV{SYSTEMD_WANTS}="video4linux-webcam-config@$env{MINOR}.timer"
