# This file is managed by ansible-video4linux-webcam-config
[Unit]
Description=Periodically restart webcam config service

[Timer]
# Unit= defaults to service matching .timer name
OnActiveSec={{ restartSecs }}

[Install]
WantedBy=timers.target
